{% extends 'base.html.twig' %}
{% block title 'Agence de Tour DSI202' %}
{% block body %}
    <img style="width: 100%;length:20%" src="{{ villes[0].codedes.Image }}">

    <div>
    <h4 class="section-title h1 mx-auto" style="text-align: center;">Les Villes Correspondantes à {{ villes[0].codedes.desdest }}</h4>
    <br>
    {% if app.user %}
    {% for v in villes %}

        <div style="margin-left:35%">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{ v.getDesVille() }}</h4>
                                    <p><img class="img-fluid" src="{{  v.getImage()}}" alt="card image"></p>
                                    <br>
                                    <button class="btn btn-secondary btn-sm" style="float:left"><a id="btnA" href="{{ path('ModifierVille',{'id':v.id}) }}" style="color: white" >   Modifier</a></button>
                                    <button class="btn btn-danger btn-sm" style="float:right"><a id="btnA" href="{{ path('deleteville',{'id':v.id}) }}" style="color: white">   Supprimer</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
    {% endfor %}

    <div style="margin-left:42%">
        <a class="btn btn-primary" href="{{ path('NouvelleVille') }}" >Ajouter Ville</a>

    </div>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    {% else %}
    {% for v in villes %}

        <div style="margin-left:35%">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <h4 class="card-title">{{ v.getDesVille() }}</h4>
                                    <p><img class="img-fluid" src="{{  v.getImage()}}" alt="card image"></p>
                                    <br>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <br><br>
    <br>
{% endif %}
{% endblock %}